/* cabin-regular - latin */
@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/urbanist-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/urbanist-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/urbanist-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/urbanist-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/urbanist-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/urbanist-v5-latin-regular.svg#Cabin') format('svg'); /* Legacy iOS */
  }

  ::-webkit-scrollbar {
    width: 7px;

} /* this targets the default scrollbar (compulsory) */


::-webkit-scrollbar-track {
    background-color:#000;

} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: #fff; 
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: #fff;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: #fff;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

body{
    font-family: 'Urbanist';
}